{% load i18n %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar" aria-label="{% translate 'Sidebar' %}">
  <input type="search" id="nav-filter"
         placeholder="{% translate 'Start typing to filter…' %}"
         aria-label="{% translate 'Filter navigation items' %}">
  {% if available_apps %}
    <div class="module" id="nav-sidebar-models">
      <table>
        <thead class="visually-hidden">
          <tr>
            <th scope="col">{% translate 'Model name' %}</th>
            <th scope="col">{% translate 'Add link' %}</th>
          </tr>
        </thead>
        {% for app in available_apps %}
          {% for model in app.models %}
            {% with model_name=model.object_name|lower %}
              <tr class="model-{{ model_name }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}">
                <th scope="row" id="{{ app.app_label }}-{{ model_name }}">
                  {% if model.admin_url %}
                    <a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>{{ model.name }}</a>
                  {% else %}
                    {{ model.name }}
                  {% endif %}
                </th>
                {% if model.add_url %}
                  <td><a href="{{ model.add_url }}" class="addlink" aria-describedby="{{ app.app_label }}-{{ model_name }}">{% translate 'Add' %}</a></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
            {% endwith %}
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>{% translate "You don't have permission to view or edit anything." %}</p>
  {% endif %}
</nav>
